/* :root {
  --color-rojo: #e52a26;
  --color-gris: #585856;
  --color-azul: #0a549a;
  --color-crema: #f4f4f4;
} */

:root {
  --color-rojo: #E1251B;
  --color-gris: #3C3C3B;
  --color-azul: #0047BA;
  --color-crema: #f4f4f4;
  --size-title: 21px;
  --size-other: 17px;
}

.mt-4 {
  margin-top: 4em;
}

.mb-0 {
  margin-bottom: 0;
}

.fondo-grisa {
  background-color: var(--color-crema);
}

.text-azul {
  color: var(--color-azul);
}

.text-rojo {
  color: var(--color-rojo);
}

.text-negro {
  color: var(--color-gris);
}

h2,
h3,
h4,
h5,
#primary-menu ul li > a,
body {
  font-family: "Gotham Rounded Book", "Roboto", sans-serif !important;
}

#header.sticky-style-2 .sub-menu a {
  font-family: "Source Sans Pro", sans-serif !important;
}

body {
  font-size: var(--size-other);
}

.title-text{
  font-size: var(--size-title);
}

.other-text{
  font-size: var(--size-other);
}

.title-10-em {
  font-size: 1em;
}
.title-12-em {
  font-size: 1.2em;
}
.title-15-em {
  font-size: 1.5em;
}

ol[start] {
  counter-reset: item 6;
}

ol {
  margin-bottom: 0;
}

ol li {
  list-style: none; /* Quita los números por defecto */
  counter-increment: item; /* Incrementa el contador */
  padding-bottom: 0.5em;
}

ol li::before {
  content: counter(item); /* Muestra el contador antes del contenido del <li> */
  font-size: 1em; /* Tamaño del número */
  color: var(--color-azul); /* Color del número */
  font-weight: bold; /* Negrita */
  background-color: transparent;
  display: inline-block;
  text-align: center;
  width: 2em;
  height: 2em;
  line-height: 2em;
  border-radius: 50%;
  margin-right: 10px; /* Espacio entre el número y el texto */
}

.grilla-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grilla-2-50porc {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 2em;
}

.grilla-2--1-2{
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 2em;
}

.grilla-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
}

.padd-xy-1em {
  padding: 1em;
}
.padd-xy-05em {
  padding: 0.5em;
}

.br-1em {
  border-radius: 1em;
}

.d-inline-block {
  display: inline-block;
}

#transparencia ul li::marker {
  color: var(--color-rojo);
}

section.columns-3-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3em;
}

.column-2-3 section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.borde-negro{
    border: 1px solid var(--color-gris);
}

.w-64{
    width: 50px;
}

.no-margins-childs{
    margin-top: 2em;
}

.no-margins-childs *{
    margin-bottom: 0.5em;
}

.mostrar-enlaces{
    
        background-color: #e82731;
        border-radius: 1em;
        border: none;
        padding: .5em;
        font-weight: 700;
        color: white;
    
}

.d-none{
    display: none !important;
}

/* element.style {
  display: block;
  border-left-width: 3px;
  border-left-color: red;
  border-left-style: solid;
  min-width: 3ch;
  max-width: 21ch;
  margin: 0 auto;
  background-color: #dadada;
  font-weight: 900;
}
 */
.pl1ch {padding-left: 1ch;}

.pt-2 {
  padding-top: 2em;
}

.title-text{
  >span{
    &.clase1{
      display: block;
      border-left-width: 3px;
      border-left-color: var(--color-rojo);
      border-left-style: solid;
      min-width: 3ch;
      max-width: 30ch;
      margin: 0 auto;
      background-color: #dadada;
    }

    &.clase2{
      display: block;
      border-left-width: 3px;
      border-left-color: var(--color-rojo);
      border-left-style: solid;
      min-width: 3ch;
      max-width: 36ch;
      background-color: #dadada;
      &.max-w {
        max-width: max-content;
        padding-inline-start: 20px;
        padding-inline-end: 16px;
      }
    }

    &.clase3{
      display: block;
      border-left-width: 3px;
      border-left-color: var(--color-azul);
      border-left-style: solid;
      min-width: 3ch;
      max-width: 36ch;
    }
  }
}


@media screen and (max-width: 768px) {

    .grilla-2--1-2{
        grid-template-columns: 1fr;
    }
  .grilla-2 {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .grilla-4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1400px) {
  .container {
      width: 1360px;
  }
}

.tematica {
  border: 1px solid;
  border-radius: 3em;
  padding: 1em;
  border-color: var(--color-gris);
  &>p{
    margin: 0;
  }
}

.header-ministerio{
    display: flex;
    color: white;
    gap: 3em;
    margin-bottom: 1em;
    align-items: center;
    &.opc-1{
      background-image: linear-gradient(90deg, white 100px,var(--color-rojo) 90px,var(--color-rojo));
    }

    &.opc-2{
      background-image: linear-gradient(90deg, white 100px,var(--color-azul) 90px,var(--color-azul));
    }

    img{
      border: 5px solid white;
      border-radius: 50%;
      transform: scale(1.15);
    }
    :is(h2,h3,h4){
      margin-bottom: 0;
    }

    h2:has(+h4){
      margin-bottom: 1em;
    }

    &>div{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

}

.text-blanco{
  color: white;
}

.header-ministerio {
  
  &:is(.opc-1, .opc-2){
    & + section > article > h3{
      width: max-content;
      padding: 0.2em 0.3em;
      color: white;
    }
  }
  &.opc-1 + section > article > h3{
    background-color: var(--color-rojo);
  }

  &.opc-2 + section > article > h3{
    background-color: var(--color-azul);
  }
}

.header-ministerio {

  & + section .contacto {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: flex-start;
    background-color: #ededed;
    padding: 2em;
}

  & + section .contacto div{
      display: flex;
      align-items: center;
      gap: 1em;
  }
  & + section .contacto span{
    color: white;
    border-radius: 50%;
    padding: .3em;
    text-align: center;
    display: inline-block;
    svg{
      width: 24px;
      height: 24px;
    }
  }

  &.opc-1 + section .contacto span{
    background: var(--color-rojo);
  }
  &.opc-2 + section .contacto span{
    background: var(--color-azul);
  }
}