:root {
    --rojo: #EA2428;
    --verde: #6bf575;
    --fondo-gris: #f4f4f4;
    --negro: #000;
}

html {
    scroll-behavior: smooth;
}

body.stretched.device-lg {
    overflow-x: hidden;
}

.content-wrap1.notoppadding {
    color: var(--negro);
}

.boton-ver-las-senhales img {
    width: 48px;
}

.boton-ver-las-senhales {
    position: fixed;
    top: 50vh;
    left: 0;
    z-index: 9;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url('../../tipografias/GothamRoundedLight_21020.ttf') format('truetype');
    /* font-weight: normal; */
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Rounded Medium';
    src: url('../../tipografias/GothamRoundedMedium_21022.ttf') format('truetype');
    /* font-weight: normal; */
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Rounded Bold';
    src: url('../../tipografias/GothamRoundedBold_21016.ttf') format('truetype');
    /* font-weight: normal; */
    font-style: normal;
}

.fuente-gotham {
    font-family: "Gotham Rounded Medium", "Times New Roman", Times, serif !important;
    font-weight: 500;
}

.fuente-gotham-light {
    font-family: "Gotham Rounded", "Times New Roman", Times, serif !important;
}

.fuente-gotham-light--bold {
    font-family: "Gotham Rounded Bold", "Times New Roman", Times, serif !important;
    font-weight: bold;
}

.text-uppercase {
    text-transform: uppercase;
}

.senhales-header__imagen {
    width: 150px;
}

.senhales-header {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.senhales-header__texto {
    margin-bottom: 0px;
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    color: var(--rojo);
    /* font-family: 'Gotham Rounded'; */
}

.senhales-header__texto--bold {
    font-weight: bold;
    /* font-family: 'Gotham Rounded Bold', sans-serif !important; */
    font-weight: 600 !important;
}


/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "CentralW01-Bold";
    display: flex;
    gap: 18px;
    margin-top: 18px;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    flex-wrap: nowrap;
    flex-direction: row;
} */

.botonera {
    display: flex;
    gap: 18px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.boton {
    height: 50px;
    width: 24ch;
    padding-inline: 5px;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.boton:not([href="#senhales"]) {
    line-height: 50px;
}

.boton:hover {
    cursor: pointer;
}

.boton--negro {
    background-color: black;
    color: white;
    text-wrap: pretty;
    border-color: black;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.boton--rojo {
    background-color: #ea2428;
    color: white;
    border-color: #ea2428;
    border-style: solid;
}

.boton--blanco {
    background-color: #efefef;
    color: #565656;
    border-color: #9e9e9e;
    border-width: 1px;
    border-style: solid;
}

.boton--azul {
    color: white;
    background-color: #09539b;
    border-color: #09539b;
    border-style: solid;
}

.caja-de-texto {
    margin-top: 2em;
    background-color: #f4f4f4;
    padding-block: 2em;
}

.caja-de-texto .container {
    margin-bottom: 0 !important;
}

.contenedor-verde {
    background-color: var(--verde);
    display: flex;
    align-content: center;
    align-items: center;
    padding: 40px 80px;
}

.contenedor-flex {
    display: flex;
    align-items: start;
}

.contenedor-flex img {
    width: 80%;
    max-width: 120px;
}

.fondo-rojo {
    background-color: var(--rojo);
}

.texto-blanco {
    color: white;
}

.texto-rojo {
    color: var(--rojo);
}

.texto-negro {
    color: var(--negro);
}

.texto-2em {
    font-size: 2em;
}

.banner-operaciones {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-operaciones img {
    width: 100px;
    transform: translateX(12px);
}

.banner-operaciones p {
    width: 76ch;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 20px;
}

.contenedor-sucede {
    display: flex;
    gap: 3em;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 2em;
}

.contenedor-sucede.container::after,
.contenedor-sucede.container::before,
.consejo-prevencion.container::after,
.consejo-prevencion.container::before {
    content: none;
}

.text-center {
    text-align: center;
}

.consejo-prevencion {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2em;
}

.botones {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.left {
    flex: 0 0 30%;
    padding: 40px 80px;
    /* No crecer, no encoger, ocupar el 30% */
}

.right {
    flex: 0 0 70%;
    /* No crecer, no encoger, ocupar el 70% */
}

.imagen-100 {
    width: 100%;
}

.consejos ol li:nth-child(2n+1) {}


/* Custom li */


/* Estilos para el contenedor de la lista */

.custom-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    counter-reset: custom-counter;
    /* Inicializar contador */
}


/* Estilos para cada elemento de la lista */

.consejos ol li:nth-child(2n+1) {
    background-color: #f0f0f0;
}

.custom-list li {
    /* Ajusta el color de fondo */
    padding: 20px;
    margin: 10px 0;
    /* border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    position: relative;
    padding-left: 60px;
    padding-right: 60px;
    /* Espacio para el número */
}


/* Estilos para los números */

.custom-list li::before {
    content: counter(custom-counter);
    counter-increment: custom-counter;
    background-color: #0056b3;
    /*Colordefondodelnúmero*/
    color: #fff;
    /*Colordeltextodelnúmero*/
    font-size: 24px;
    font-weight: bold;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 10%;
}


/* Estilos para el texto resaltado */

.custom-list li p {
    font-family: 'Arial, sans-serif';
    /* color: #333; */
    line-height: 1.5;
    /* font-size: 18px; */
}

.custom-list ol {
    list-style: none !important;
}

dialog::backdrop {
    background-color: #4d4d4dcf;
    /* opacity: .8; */
    backdrop-filter: blur(4px);
}

.envio-reporte {
    .form-group {
        margin-bottom: 15px;
    }
    label {
        display: block;
        margin-bottom: 5px;
    }
    input[type="text"],
    input[type="email"],
    textarea {
        width: calc(100% - 22px);
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
    }
    textarea {
        height: 150px;
        resize: vertical;
    }
    input[type="file"] {
        display: block;
        margin-top: 10px;
    }
    .btn {
        display: inline-block;
        padding: 10px 20px;
        font-size: 14px;
        color: #fff;
        background-color: #28a745;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    .btn:hover {
        background-color: #218838;
    }
}

.botones>div {
    width: min-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: space-around;
    align-items: center;
    height: 100px;
    gap: 0.4em;
}

.contenedor-gris {
    background-color: var(--fondo-gris);
}

.text-bold {
    font-weight: bold;
}

.line-height-1 {
    line-height: 1.2em;
}

.margin-0 {
    margin: 0;
}

.modal-2,
.modal-1 {
    border: none;
    width: max(800px, 50%);
    height: min(600px, 80%);
    display: flex;
    align-items: center;
    padding-inline: 50px;
}

:is(.modal-1,
.modal-2) form[method="dialog"] {
    width: 100%;
}

dialog form[method="dialog"]>button {
    border: none;
    background: transparent;
    position: absolute;
    top: 0;
    right: 0;
}

.font-1em {
    font-size: 1.2em;
}

.font-2em {
    font-size: 2em;
}

.w-max-content {
    width: max-content;
}

.textarea-custom {
    display: grid;
    grid-template-areas: "req";
}

#message {
    grid-area: req;
    height: min(250px, 50vh);
}

.adjuntar {
    grid-area: req;
    align-self: end;
    justify-self: end;
}

#attachment {
    visibility: hidden;
}

.clip-imagen {
    width: 60px;
}

.adjuntar-texto {
    width: 10ch;
    display: inline-block;
}

label[for="attachment"] {
    display: block;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

dialog:not([open]) {
    visibility: hidden;
}

#senhales,
#como-nos-afecta,
#consejos-de-prevencion,
#denuncias-y-reportes {
    margin-block: 3em;
}

#senhales {
    margin-top: 0;
}

#como-nos-afecta {
    margin-bottom: 0;
}

.span-10ch {
    display: inline-block;
    width: 10ch;
}

.pb-2 {
    padding-bottom: 2em;
}

.px-2 {
    padding-block: 2em;
}


/* Media queries */

@media screen and (max-width: 767px) {
    .botonera {
        justify-content: center;
    }
    .senhales-header {
        flex-direction: column-reverse;
    }
    .contenedor-sucede {
        flex-direction: column;
        gap: 1em;
    }
    .botones {
        flex-direction: column;
        gap: 2em;
    }
}

@media screen and (max-width: 1024px) {
    .consejo-prevencion {
        flex-direction: column;
    }
}

@media screen and (max-width: 992px) {
    .contenedor-verde {
        flex-direction: column;
    }
    .ciclo-de-lavado .container {
        width: 100% !important;
    }
}